@charset "UTF-8";

/* rgba(0, 0, 0, 0.893) */
/*max-width: daquele valor pra baixo
min-width: de cima até aquele valor*/

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@media screen and (max-width:481px) {

    #div1 {
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
    } 

    header picture #imgprincipal {
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }


    header #div1 img {
        text-align: center;
        width: 26px;
        margin-top: 15px;
        padding: 5px;
        margin-right: 5px;
    }
    
    hr {
        width: 320px;
        margin: auto;
        display: block;
        margin-top: 70px;
    }

    header h1 {
        font-size: 1.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlw', sans-serif; 
        margin-top: 10px;
        padding-left: 32px;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    header .principal #div3 h2 {
        font-size: 1.55em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-top: 0px;
        padding-left: 4px;
    }

    header p {
        font-size: 1.1em;
        text-align: justify;
        color: rgba(255, 255, 255, 0.966);
        font-family: 'Barlow', sans-serif;
        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
        display: block;
        width: 215px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 110px 100px;
        grid-auto-rows: 90px 90px;
        justify-content: space-evenly;
    }

    div#skills h1 {
         font-size: 1.4em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 0.7em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.3em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 30px;
        
    }

    .footer .imgextra {
            border-radius: 10px;
            width: 110px;
            height: 170px;
            padding-top: 20px;
            margin-left: 7px;
        }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 1.8em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        margin-bottom: 10px;
        text-align: left;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size:  0.8rem;
        font-family: 'Barlow', sans-serif;
        text-align: justify;
        padding-left: 1px;
        width: 155px;
    }

    #img img {
        width: 24px;
        padding: 0px;
        margin-left: 0px;
    } 

    .imgs {
        text-align: left;
        padding-top: 25px;
        padding-right: 50px;
    }

}

@media screen and (min-width: 482px) and (max-width: 589px) {
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    header #div1  {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 35px;
        top: 65px
    }

    header #div1 img {
        width: 30px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 170px;
        height: 340px;
        position: absolute;
        border-radius: 20px; 
        top: 120px;
        left: 25px;
    }


    header #div3 h1 {
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 230px;
        padding-top: 50px;
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 15px;
        padding-left: 210px;
    }
    
    header p {
        font-size: 0.9em;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 0px;
        padding-bottom: 15px;
        padding-left: 228px;
        width: 190px;
    }

    hr {
        width: 460px;
        margin: auto;
        display: block;
        margin-top: 255px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 160px 170px 100px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 1.0em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 0.9em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 100px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.0em;
        padding: 10px;
        padding-bottom: 80px;
        text-align: center;
        
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 180px;
        width: 300px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 5px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 110px;
        height: 160px;
        padding-top: 10px;
        margin-right: 25px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 1.9em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 10px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size: 1.0rem;
        font-family: 'Barlow', sans-serif;
        text-align: justify;
        padding-left: 3px;
        width: 340px;
    }

    #img img {
        width: 24px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}

@media screen and (min-width: 589px) and (max-width: 658px) {
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    header #div1  {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 40px;
        top: 65px
    }

    header #div1 img {
        width: 30px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 190px;
        height: 380px;
        position: absolute;
        border-radius: 20px; 
        top: 120px;
        left: 35px;
    }


    header #div3 h1 {
        font-size: 1.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 265px;
        padding-top: 50px;
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 1.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 240px;
    }
    
    header p {
        font-size: 0.9em;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 278px;
        width: 240px;
    }

    hr {
        width: 570px;
        margin: auto;
        display: block;
        margin-top: 280px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 160px 170px 100px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 1.0em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 0.9em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 100px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.0em;
        padding: 10px;
        padding-bottom: 80px;
        text-align: center;
        
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 180px;
        width: 300px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 5px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 120px;
        height: 160px;
        padding-top: 10px;
        margin-right: 30px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 2.1em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 10px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size: 1.0rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 400px;
    }

    #img img {
        width: 26px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}

@media screen and (min-width: 658px) and (max-width: 768px) {
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    header #div1  {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 55px;
        top: 65px
    }

    header #div1 img {
        width: 32px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 190px;
        height: 380px;
        position: absolute;
        border-radius: 20px; 
        top: 120px;
        left: 50px;
    }


    header #div3 h1 {
        font-size: 1.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 245px;
        padding-top: 50px;
        
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 1.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 220px;
    }
    
    header p {
        font-size: 1.0em;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 298px;
        width: 280px;
    }

    hr {
        width: 640px;
        margin: auto;
        display: block;
        margin-top: 270px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 160px 170px 190px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 1.1em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 0.9em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 160px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 2.6rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.0em;
        padding: 10px;
        padding-bottom: 80px;
        text-align: center;
        
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 160px;
        width: 280px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        display: flex;
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 10px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 110px;
        height: 200px;
        padding-top: 10px;
        margin-right: 15px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 2.3em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 10px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size: 1.1rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 500px;
    }

    #img img {
        width: 28px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 828px) {
    
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    header #div1  {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 60px;
        top: 60px
    }

    header #div1 img {
        width: 32px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 260px;
        height: 450px;
        position: absolute;
        border-radius: 20px; 
        top: 140px;
        left: 60px;
    }


    header #div3 h1 {
        font-size: 1.6em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 315px;
        padding-top: 60px;
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 1.6em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 290px;
    }
    
    header p {
        font-size: 1.0em;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 375px;
        width: 320px;
    }

    hr {
        width: 690px;
        margin: auto;
        display: block;
        margin-top: 320px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 210px 170px 190px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 1.2em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 0.9em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 160px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 2.6rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.1em;
        padding: 10px;
        padding-bottom: 80px;
        text-align: center;
        
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 180px;
        width: 300px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        display: flex;
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 40px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 140px;
        height: 240px;
        padding-top: 10px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 2.9em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 20px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size: 1.4rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 500px;
    }

    #img img {
        width: 30px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }

}
 


@media screen and (min-width: 828px) and (max-width: 949px){
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    

    header #div1  {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 60px;
        top: 60px
    }

    header #div1 img {
        width: 33px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 260px;
        height: 450px;
        position: absolute;
        border-radius: 20px; 
        top: 140px;
        left: 60px;
    }


    header #div3 h1 {
        font-size: 1.8em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 285px;
        padding-top: 60px;
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 1.8em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 255px;
    }
    
    header p {
        font-size: 1.0em;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 395px;
        width: 400px;
    }

    hr {
        width: 800px;
        margin: auto;
        display: block;
        margin-top: 320px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 200px 190px 190px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 1.4em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 1.0em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 160px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 2.6rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.1em;
        padding: 10px;
        padding-bottom: 80px;
        text-align: center;
        
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 180px;
        width: 300px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        display: flex;
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 40px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 200px;
        height: 280px;
        padding-top: 10px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 3.2em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 20px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size:  1.3rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 500px;
    }

    #img img {
        width: 30px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}


@media screen and (min-width: 949px) and (max-width: 1090px) {

    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    div.principal {
        display: flex;
    }

    header #div1  {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 90px;
        top: 55px
    }

    header #div1 img {
        width: 35px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 320px;
        height: 520px;
        margin: auto;
        display: block;
        position: absolute;
        border-radius: 20px; 
        top: 130px;
        left: 80px;
    }


    header #div3 h1 {
        font-size: 2.2em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 337px;
        padding-top: 40px;
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 2.2em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 300px;
    }
    
    header p {
        font-size: 1.1em;
        text-align: left;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 448px;
        width: 465px;
    }

    hr {
        width: 930px;
        margin: auto;
        display: block;
        margin-top: 375px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 220px 200px 200px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 2.1em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 1.2em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 160px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 3.2rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.4em;
        padding: 10px;
        padding-bottom: 80px;
        text-align: center;
        
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 190px;
        width: 410px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        display: flex;
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 40px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 250px;
        height: 310px;
        margin-left: 20px;
        padding-top: 10px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 3.8em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 30px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size:  1.5rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 600px;
    }

    #img img {
        width: 38px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}


@media screen and (min-width: 1090px) and (max-width: 1200px) {
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    div.principal {
        display: flex;
    }

    header #div1 {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 110px;
        top: 55px
    }

    header #div1 img {
        width: 35px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 350px;
        height: 550px;
        margin: auto;
        display: block;
        position: absolute;
        border-radius: 20px; 
        top: 130px;
        left: 100px;
    }


    header #div3 h1 {
        font-size: 2.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-left: 435px;
        padding-top: 80px;
        padding-bottom: 5px;
    }
    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 2.4em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 395px;
    }
    
    header p {
        font-size: 1.2em;
        text-align: left;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 0px;
        padding-bottom: 15px;
        padding-left: 514px;
        width: 465px;
    }

    hr {
        width: 1050px;
        margin: auto;
        display: block;
        margin-top: 375px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 220px 200px 200px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 2.1em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 1.2em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 160px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 3.2rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.93);
        font-size: 1.5em;
        padding: 10px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.8em;
        padding: 5px;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 250px;
        width: 480px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        display: flex;
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 40px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 250px;
        height: 310px;
        margin-left: 20px;
        padding-top: 10px;
        margin-right: 10px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 3.8em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 30px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size:  1.5rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 600px;
    }

    #img img {
        width: 38px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}


@media screen and (min-width: 1200px) {
    div.principal {
        display: flex;
    }

    div.principal p {
        text-align: justify;
    }

    div.principal {
        display: flex;
    }

    header #div1 {
        width: 35px;
        padding-top: 20px;
        margin-right: 5px;
        display: flex;
        position: absolute;
        left: 225px;
        top: 55px
    }

    header #div1 img {
        width: 35px;
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 5px;
    }

    header img#imgprincipal {
        width: 350px;
        height: 550px;
        margin: auto;
        display: block;
        position: absolute;
        border-radius: 20px; 
        top: 130px;
        left: 220px;
    }


    header #div3 h1 {
        font-size: 2.8em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif; 
        text-align: center;
        padding-top: 40px;
        padding-left: 675px;
    }

    header .principal h1.h1 {
        padding-top: 30px;
        padding-left: 230px;
        padding-bottom: 88px;
        font-size: 3.0rem;
    }

    #div3 {
        padding-top: 120px;
        text-align: center;
    }

    
    #div3 h2 {
        font-size: 2.8em;
        color: rgba(255, 255, 255, 0.916);
        font-family: 'Barlow', sans-serif;  
        text-align: center;
        padding-bottom: 20px;
        padding-left: 625px;
    }
    
    header p {
        font-size: 1.5em;
        text-align: left;
        color: rgb(255, 255, 255);
        font-family: 'Barlow', sans-serif;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 685px;
        width: 465px;
    }

    hr {
        width: 1170px;
        margin: auto;
        display: block;
        margin-top: 255px;
    }

    div#skills{
        display: grid;
        margin-top: 40px;
        grid-template-columns: 220px 200px 200px;
        grid-auto-rows: 180px 180px;
        justify-content: space-evenly;
    }

    div#skills h1 {
        font-size: 2.1em;
         color: rgba(255, 255, 255, 0.855);
    }

    div#skills p {
        font-size: 1.2em;
        font-family: 'Barlow', sans-serif;
        color: rgba(185, 184, 184, 0.942);
    }

    #tabela2 h1 b{
        font-size: 1.5em;
        text-align: center;
    }

    #tabela2 {
        margin-top: 40px;
        margin-bottom: 160px;
        text-align: center;
    }

    div#tabela2 h1 {
        font-size: 3.9rem;
        color: rgba(255, 255, 255, 0.916);
    }


    b.b3 {
        color: rgba(255, 255, 255, 0.916);
        font-size: 1.4rem;    
    }

    #b {
        padding-top: 55px;
    }

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.93);
        font-size: 1.5em;
        padding: 10px;
    }
        

    aside div#imagens h1 {
        color: rgba(255, 255, 255, 0.797);
        font-size: 1.8em;
        padding: 5px;
        padding-bottom: 80px;
        text-align: center;
    }
    
    img#linha1, img#linha2, img#linha3, img#linha4 {
        height: 270px;
        width: 500px;
        border-radius: 10px;
        border: 2px solid rgb(187, 24, 187);
        margin: auto;
        display: block;
    }

    .linha1, .linha2 {
        text-align: center;
        margin: auto;
        display: block;    
}

    #imagens {
        display: flex;
        text-align: center;
        margin: auto;
    }

    #img {
        text-align: center;
        margin: auto;
        display: block;
    }

    div#geral {
        text-align: left;
    }

    footer {
        background-color: rgb(48, 47, 47);
        padding: 40px;
    }

    .footer .imgextra {
        border-radius: 20px;
        width: 250px;
        height: 310px;
        margin-left: 20px;
        padding-top: 10px;
        padding-right: 200px;
    }


    footer h1 {
        color: rgba(247, 247, 247, 0.966);
        font-size: 3.8em;
        font-family: 'Barlow', sans-serif;
        margin: 0px;
        text-align: left;
        padding-bottom: 20px;
    }
    
    footer #geral p {
        color: rgba(255, 255, 255, 0.907);
        font-size:  1.5rem;
        font-family: 'Barlow', sans-serif;
        text-align: left;
        padding-left: 5px;
        width: 600px;
    }

    #img img {
        width: 38px;
        padding: 0px;
        margin-left: 10px;
    } 

    .imgs {
        text-align: left;
        padding-top: 35px;
        padding-right: 10px;
    }

    #ftextra {
        display: none;
    }
}